.container {
    display: grid;
    grid-template-areas:    "top top top"
                            "left main main";  
    grid-template-columns: var(--space-400) 1fr 1fr;
    grid-template-rows: var(--space-300) 1fr;    
    grid-gap: var(--space-100);

    padding: var(--space-300);
}

app-fly-search {
    grid-area: top;
}
article {
    grid-area: main;
}
aside {
    grid-area: left;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

aside a {
    padding: 1em;
}

aside a.active {
    background: var(--color-200)
}

article ul {
    --columns: 2;
    display: grid;
    grid-gap: var(--space-100);
    grid-template-columns: repeat(var(--columns), 1fr);
    padding: 0;
    margin: 0;
}

.fly {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fly-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 76em) {
    article ul {
        --columns: 3;
    }
}

@media screen and (min-width: 112em) {
    article ul {
        --columns: 4;
    }
}

.fly-link img {
    max-width: 100%;
}

.fly-link span {
    padding: 0.5em 0 1em;
}
